<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Food.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B85592C1FCD7F190099ADE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8559401FCD7F190099ADE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B85594B1FCD7F190099ADE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
